@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
    body,*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
      scroll-behavior: smooth;
    }
    .c{
    background: linear-gradient(90deg, #C1A261 15.11%, #5B4C2E 127.72%);
    width: Hug (131px)px;
    height: Fixed (47px)px;
    padding: 5px 20px 5px 20px;
    gap: 10px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    font-family: Pt Sans;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    border: none;
   /* transition: color 1s; */

   
}
.box{
    width: 100%;
    display: flex;
    font-family: Pt Sans;
margin-top: 100px;
    padding: 80px;
    font-family:  "Goudy Bookletter 1911", serif;
}
.bowtwo{
    
   width: 50%;
   gap: 90px;
}
.lb{
    padding-top: 50px;
    font-weight: 800;
    font-size: 20px;
    font-family: PT Sans;
    margin-left: 68px;
}

.boxes{
    width: 100%;
    display: flex;
    font-family: Pt Sans;
    padding: 80px;
    font-family:  "Goudy Bookletter 1911", serif;
    background: url(Rectangle\ 30.png) rgba(0, 0, 0, 0.375);;
    background-blend-mode: multiply;
}

.boxone{
   
   width: 80%;
   font-weight: 500;
   font-size: 32px;
}
.c:hover{
    animation-name: examples;
    animation-duration: 4s ;
}
@keyframes examples {
  0%   {background:brown; }
  
}
    header{

       padding: 30px;
       width: 100%;
      font-weight: 400;
      font-family: Pt Sans
   
    }
    .tool{
    visibility: hidden;
    color: #5B4C2E;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  position: absolute;
  background-color: rgb(131, 128, 115);
  border-radius: 8px;
  padding: 10px; 
  width: 30vh;
  font-size: 24px;
  font-family: Monotype Corsiva;
}

.about:hover .tool {
    visibility: visible;
  }

  .about{
    position: relative;
    cursor: pointer;  
  }

  .about .tool::after{
    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(131, 128, 115) transparent transparent transparent;
  }

  .business{
    animation-name: example;
    animation-duration: 3s;
  background-color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    border: none;
  }
  .business:hover{
    background-color: #C1A261;
  border-radius: 10px;
  padding-block: 10px;

  }
.busines:hover.dropdown{
  visibility: visible;
}
  .dropdown{
    visibility: hidden;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    .boxes{
        width: 100%;
        display: flex;

        height: 100vh;
        border: 0px;
       
    }
    .uno{
        color: #3D3C3A;
        font-weight: 700;
       font-family:  "Goudy Bookletter 1911", serif;
       width: 100vh;
       margin-left: 68px;
       margin-top: 30px;

    }
    .duo{
        font-family:  PT Sans;
        font-size: 20px;
        padding: 30px;
        width: 75vh;

       
    }
    header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    width: 100%;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
   font-family:  PT Sans;
}

.logo img{
    width: 11vh;
    height: 10vh;
}

.logo{
    padding-inline: 40px;
}
.uno{
    font-size: 32px
}
.display{
    display: flex;
    align-items: center;
    padding-top: 120px;
    font-family: Pt Sans;
    font-weight: 800;
 
   
}
.line{
        border-radius: 5px;
        background-color: #C1A261;
        width: 37vh;
        height: 3.5px;
    }
    .flex{
    font-family: Pt Sans;
    font-weight: 800;
    margin-left: 19px;
}

.flexer{
    display: flex;
    gap: 15px;
    padding-top: 30px;
    margin-left: 20px;
    color: #fff;
}

    .underline{
        background: #D9D9D9;
        border-radius: 5px;
        width: 37vh;
        height: 3.5px;
        opacity: 0.5;
        margin-left: 20px;

    }
  .image img{
    width: 72vh;
    height: 6vh;
    margin-left: 50px;
  }

  .img img{
    width: 20vh;
    height: 6vh;
    margin-left: 50px;
  }

  .b{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: #F1F1EE;
    color: #C1A261;
    font-family: "Goudy Bookletter 1911", serif;
    font-size: 32px;
    font-weight: 300;
    padding: 40px;
  }

  .grp{
    width: 100%;
    display: flex;
    background-color: #F1F1EE;
    border-bottom: 1px solid gray;

  }

  .grpone{
    width: 50%;
    
  }

  .grptwo{
    width: 50%;
  }

  .btw{
    background-color: black;
    width: 1px;
  }
section{
  padding: 200px;
}
  .shadow{
    box-shadow: 0px 4px 50px 15px #0000000D;
    width: 100%;
height: 594px;
    margin-top: -48px;
    margin-bottom: -51px;
    margin-right: -50px0px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;
display: flex;
height: auto; 
transition: transform 0.3s ease;  

  }
  .shadow:hover{
   transform: scale(1.1); 
   
  }


  .ptone{
    color: #967D4A;
    font-family: "Goudy Bookletter 1911", serif ;
    font-weight: 300;
    width: 60%;
    font-size: 40px;
    padding: 50px;
  }

  .part{
    line-height: 57.61px;
    width: 60%;
  }
  .imp{
    font-family: Pt Sans;
    color: #3D3C3A;
    font-weight: 500;
    font-size: 20px;
    width: 70%;
    padding-block: 50px;
  }

  .button{
    background: #C1A261;
   font-family: Pt Sans;
   color: #fff;
   border-radius: 30px;
  padding: 10px;
  width:46%;
  border: none;
  border-left: 5px;
  border-right: 5px;
  font-weight: 900;
  font-size: 20px;
}

.to{
  padding-top: 30px;
}

.pttwo{
  background-image: url(Rectangle\ 103.png);
  background-size: cover;
  width: 47%;
background-repeat: no-repeat;
    margin-right: -50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.sec{
  background-image: url(https://s3-alpha-sig.figma.com/img/a95c/7601/8571a22203bb285b8a9f58318c2db4f4?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V4C3YpFNBHxqOf2mAwg0bvJd~eTOuLNuu3KWjFZ8RF5wwqfMogcFi5pfFfS2MHYAdodaJqC8X933j6EkMr8x318ovEBb9x6aKHVDlW-9JWSBvCdJIBT~ylIA468xDjWQFiNvAb7jbPL13fryGc7BflENCWFrO7f0poRFx71asdQSO5NWpavvtGDNKVaOvh8gGpezkFlIiz~ivivwC9Dr74uQ9LSMt~~LTUsCeaHbQVtPqFy-RmEuzpur-XXSHGuavaUz-SbFqs5b-dlqoG6QfsceInrMueLILUKrY-HB1TbodieEcQhjatpLCWNoR2PzqLjFSGFaDnTQsMje~g0C1w__);
  width: 100%;
  height: 100vh;
  background-size: cover;
  transition: 0.5s ease-in-out;
  background-repeat: no-repeat;
  

}

.sec:hover{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://s3-alpha-sig.figma.com/img/a95c/7601/8571a22203bb285b8a9f58318c2db4f4?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V4C3YpFNBHxqOf2mAwg0bvJd~eTOuLNuu3KWjFZ8RF5wwqfMogcFi5pfFfS2MHYAdodaJqC8X933j6EkMr8x318ovEBb9x6aKHVDlW-9JWSBvCdJIBT~ylIA468xDjWQFiNvAb7jbPL13fryGc7BflENCWFrO7f0poRFx71asdQSO5NWpavvtGDNKVaOvh8gGpezkFlIiz~ivivwC9Dr74uQ9LSMt~~LTUsCeaHbQVtPqFy-RmEuzpur-XXSHGuavaUz-SbFqs5b-dlqoG6QfsceInrMueLILUKrY-HB1TbodieEcQhjatpLCWNoR2PzqLjFSGFaDnTQsMje~g0C1w__);

}

.f{
  color: #BFA162;
  font-family:"Goudy Bookletter 1911", serif ;
  font-size: 16px;
}

.m{
  font-family: Poppins;
  font-weight: 800;
  color: #fff;
  width: 30%;
  padding-top: 20px;
}
.d{
  font-family: Poppins;
  font-weight: 300;
  color: #fff;
  font-size: 17px;
  width: 44%;
  padding-top: 20px;
}

.r{
  color: #BFA162;
  font-family:"Goudy Bookletter 1911", serif ;
  font-size: 19px;
  font-weight: 800;
  padding-top: 30px;
}

.inter{
  padding-top: 433px;
  padding-inline: 50px;
  
}
.bg{

  background: url('https://images.unsplash.com/photo-1569025690938-a00729c9e1f9?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)') rgba(0, 0, 0, 0.375);
  width: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.back{
  
  background: url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)') rgba(0, 0, 0, 0.375);
  width: 100%;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider{
  margin-bottom: 51px;
}

.displays{
  display: flex;
  padding-top: 670px;
  margin-left: 70px;
}

.displayer{
  display: flex;
  align-items: center;
  padding-top: 650px;
  font-family: Pt Sans;
  font-weight: 800;

 
}

.j{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}

.nf{
  font-family: Poppins;
font-size: 25px;
font-weight: 700;
line-height: 30px;
text-align: left;

}

.explore{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 13px;
text-align: center;
color: #BFA162;
}

.nf:hover{
  color: #9c792f;
}

.explore:hover{
  color: #3D3C3A;
}

.ia{
  width: 100%;
  display: flex;
padding: 20px;
  gap: 20px;
}

.ia1{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ia2{
  
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ia3{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ia1 img{
  width: 100%;
  height: 24vh;
}

.ia2 img{
  width: 100%;
  height: 24vh;
}
.ia3 img{
  width: 100%;
  height: 24vh;
}

.iat1{
  font-family: Poppins;
  font-weight: 600;
}

.iat2{
  font-family: Poppins;
 font-size: 14px;
}

.rect{
  background-image:url(Rectangle\ 100\ \(1\).png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height :100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rect:hover{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Rectangle\ 100\ \(1\).png);
}

.jo{
  font-family:  "Goudy Bookletter 1911", serif;
  font-size: 80px;
  color: #fff;
}

.e{
  font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: center;
width: 309px;
height: 67px;
padding: 16px 58px 15px 57px;
gap: 0px;
border-radius: 30px 30px 30px 30px;
border: 2px 0px 0px 0px;
opacity: 0px;
background-color: #C1A261;

}

.e button{
  outline: none;
border: none;
background-color: transparent;
}

.ex{
  font-size: 24px;
font-weight: 400;
line-height: 36px;
color: #fff;
padding-bottom: 20px;
text-align: center;
width: 47%;
}

.margin{
  background-color: #F1F0EF;
  width: 80%;
    height: 30vh;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-inline: 230px;
    margin-top: -39px;
    gap: 20px;
    margin-left: 180px;
}
.m1{
  display: flex;
  flex-direction: column;
}
.m1 img{
  border-radius: 8px;
  width: 100%;
  height: 17vh;
}
.m2 img{
  border-radius: 8px;
  width: 100%;
  height: 17vh;
}
.m3 img{
  border-radius: 8px;
  width: 100%;
  height: 17vh;
}
.m4 img{
  border-radius: 8px;
  width: 100%;
  height: 17vh;
}

.o{
  font-family: Poppins;
  font-weight: 500;
}

.ep{
  font-family: Poppins;
  font-size: 14px;
}

.end{
  background-color: #737171;
  display: flex;
    width: 100%;
    height: 80vh;
    padding: 70px;
    gap: 59px;
    font-family: Poppins;
    color: #fff;
    flex-wrap: wrap;
    border-width: 5px, 0px, 5px, 0px;
    margin-top: 50px;
border-style: solid;
border-bottom: #BFA162;
border-top: #BFA162;


}

.ore{
  font-size: 24px;
  font-weight: 400;
}

.ab
{
  font-weight: 300;
}

.bo{
  font-weight: 300;
}
.ag{
  font-weight: 300;
}
.car{
  font-weight: 300;
  display: flex;
  gap: 3px;
}

.te{
  display: flex;
  font-weight: 300;
  gap: 3px;
}

input{
  background-color: #FFFFFF1A;
  outline: none;
border: none;
padding-inline: 20px;
padding: 8px;
margin-block: 20px;

}

.input input{
  background-color: #FFFFFF1A;
  border-radius: 6px;
}

input::placeholder{
  color: #fff

}

.sub{
  background-color: #BFA162;
  border-radius: 6px;
  width: 25vh;
  margin-block: 10px;;
  
  
}

.sub button{
  background-color: transparent;
  border: none;
  outline: none;
  margin-inline: 69px;
padding: 8px;

}

.audit img{
  width: 10%;
  height: 9vh;
  margin-top: -126px;
  margin-left: 60px;
}

.audit{

  width: 99.8%;
  margin-bottom: 10px;
}

.copy{
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 300;
  margin-top: -80px;
  color: #fff;
}

.en{
  width: 30%;
}

.margin{
       
  height: auto; 
  transition: transform 0.3s ease;  
}

.margin:hover{
  transform: scale(1.1); 
}

.ab a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.bo a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: white;
  text-decoration: none;
}
.car a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: white;
  text-decoration: none;
}
.ag a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.te a{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.part:hover{
  text-decoration: underline #BFA162;
}
.grouped{
  display: flex;
  border: none;
  outline: none;
}

.class{
  padding-right: 12px;
  padding-left: 6px;
    border: none;
    outline: none
}

.win{
  background-color: #fff;
}

.class:hover{
  background-color: rgb(121, 49, 49);
}